<div class="span6 offset4 text-center hottub-layer">
<h1 class="custom-font">Hi I'm Kamille</h1>

<h2>I'm having a blast learning how to code </h2>

<%= link_to 'Launch', pics_path, :class => 'btn btn-danger' %>

</div>