

<h2> 


	<% @pics.each do |pics| %>
	<div class="span5 offset1 text-center hottub-layer">
		<h1 class= "custom-font"> Hour: <%= pics.hour %> </h1>
		<h2>
		<%= image_tag(pics.image) %>
			<br />
			Emotion: <%= pics.emotion %>
			<br />
			Learned: <%= pics.learned %>
			<br />
		</h2>
	</div>
	<% end %> 


</h2>



